Ivanov_Fadeev_project/back/project-management-internet-shop/dist
Ivanov_Fadeev_project/back/project-management-internet-shop/node_modules
Ivanov_Fadeev_project/back/project-management-internet-shop/src/credentials.ts